@charset "UTF-8";

* {
	margin: 0px; 
	padding: 0px;
}

div {
	/*border: 1px solid black;*/
	box-shadow: inset 0 0 0 1px black;
}

#fila1 {
	overflow: hidden;
	height: 25vh;
	width: 100vw;
}

#fila2 {
	overflow: hidden;
	height: 50vh;
	width: 100vw;
}

#fila3 {
	overflow: hidden;
	height: 25vh;
	width: 100vw;
}

#capa1 {
	background-color: yellow;
	float: left;
	height: 100%;
	width: 25%;
}

#capa2 {
	background-color: pink;
	float: left;
	height: 100%;
	width: 75%;
}

#capa3 {
	background-color: blue;
	float: left;
	height: 100%;
	width: 50%;
}

#capa4 {
	background-color: green;
	float: left;
	height: 100%;
	width: 25%;
}

#capa5 {
	background-color: black;
	float: right;
	height: 100%;
	width: 25%;
}

#capa6 {
	background-color: purple;
	float: left;
	height: 100%;
	width: 25%;
}

#capa7 {
	background-color: orange;
	float: left;
	height: 100%;
	width: 25%;
}

#capa8 {
	background-color: lightblue;
	float: left;
	height: 100%;
	width: 25%;
}

#capa9 {
	background-color: gray;
	float: left;
	height: 100%;
	width: 25%;
}