@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	border: none;
	box-sizing: border-box;
}

body {
	background-image: url("imagenes/fondos/fondoEstrellado.png");
}

header {
	width: 100%;
	height: 232px;
	background-image: url("imagenes/fondos/ssolar.png");
	background-repeat: no-repeat;
	float: left;
}

header h1 {
	color: white;
	text-align: center;
	text-decoration: underline;
	font-size: 30pt;
	padding-top: 90px;
}

nav {
	width: 200px;
	height: calc(97vh - 232px);
	float: left;
	/*background-color: aqua;*/
}

nav a {
	display: block;
	width: 200px;
	height: 60px;
	background-image: url("imagenes/botones/botonNormal.png");
	text-decoration: none;
	text-align: center;
	padding-top: 16px;
	color: blue;
	font-size: 18pt;
}

nav a:hover {
	background-image: url("imagenes/botones/botonHover.png");
	text-decoration: underline;
	color: navy;
}

nav a:active {
	background-image: url("imagenes/botones/botonClick.png");
	text-decoration: underline;
	color: black;
}

main {
	width: calc(100% - 200px);
	height: calc(97vh - 232px);
	float:left;
	/*background-color: gray;*/
}

#marco {
	width: 100%;
	height: 100%
}

footer {
	width: 100%;
	height: 3vh;
	float: left;
	/*background-color: olive;*/
	text-align: right;
	color: yellow;
	font-size: 16pt;
}