@charset "UTF-8";

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body {
	background-image: url("imagenes/fondo.jpg");
	color: white;
}

header {
	border: 1px solid black;
	width: 100%;
	height: 10vh;
	float: left;
	color: red;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	float: left;
	width: 15%;
	height: 85vh;
	border: 1px solid black;
}

nav a {
	display: block;
	height: 3vh;
	text-decoration: none;
	text-align: center;
	color: yellow;
	/*padding-top: 2vh; */
}

main {
	width: 85%;
	height: 85vh;
	border: 1px solid black;
	float: left;
}

#marco {
	width: 100%;
	height: 100%;
}

footer {
	width: 100%;
	height: 5vh;
	border: 1px solid black;
	float: left;
}
